<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz0QyGyLG6H4E1T_dqlqT0hpBQKEathtk</string>
	<key>GCM_SENDER_ID</key>
	<string>1017685778695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>just.smile</string>
	<key>PROJECT_ID</key>
	<string>justsmile2</string>
	<key>STORAGE_BUCKET</key>
	<string>justsmile2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017685778695:ios:5e041a5d4552d69747e5a2</string>
</dict>
</plist>